venv/
__pycache__/
cash_register/cash_register/__pycache__/
cash_register/cash_machine/__pycache__/
cash_register/cash_machine/migrations/
cash_register/setenv.env
**/__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
local_settings.py

.env
